.tw-border-primary {
  border-color: var(--p-primary-800) !important;
}

.tw-text-success {
  color: var(--p-green-500);
}

.tw-bg-success {
  background: var(--p-green-400);
}

.tw-border-success {
  border-color: var(--p-green-400);
}

.tw-text-warn {
  color: var(--p-orange-500);
}

.tw-bg-warn {
  background: var(--p-orange-400);
}

.tw-border-warn {
  border-color: var(--p-orange-400);
}

.tw-text-danger {
  color: var(--p-red-500);
}

.tw-bg-danger {
  background: var(--p-red-400);
}

.tw-border-danger {
  border-color: var(--p-red-400);
}

.tw-text-info {
  color: var(--p-sky-500);
}

.tw-bg-info {
  background: var(--p-sky-400);
}

.tw-border-info {
  border-color: var(--p-sky-400);
}


html {
  font-size: 14px;
}


.p-dark .bg-base {
  background-color: #121212;
}

.p-dark .bg-base-light {
  background-color: var(--p-surface-800) !important;
}

.p-dark .text-base {
  color: #F8F8F8;
}

.p-dark .border-base {
  border-color: var(--p-surface-700);
}