html {
  font-size: 14px;
}

.ps__thumb-y {
  background-color: var(--p-surface-700);
}

.tw-border-primary {
  border-color: var(--p-primary-900) !important;
}

.tw-text-success {
  color: var(--p-green-500);
}

.tw-bg-success {
  background: var(--p-green-400);
}

.tw-border-success {
  border-color: var(--p-green-400);
}

.tw-text-warn {
  color: var(--p-orange-500);
}

.tw-bg-warn {
  background: var(--p-orange-400);
}

.tw-border-warn {
  border-color: var(--p-orange-400);
}

.tw-text-danger {
  color: var(--p-red-500);
}

.tw-bg-danger {
  background: var(--p-red-400);
}

.tw-border-danger {
  border-color: var(--p-red-400);
}

.tw-text-info {
  color: var(--p-sky-500);
}

.tw-bg-info {
  background: var(--p-sky-400);
}

.tw-border-info {
  border-color: var(--p-sky-400);
}

.p-dark .bg-base {
  background-color: #121212;
}

.p-dark .bg-base-light {
  background-color: var(--p-surface-800) !important;
}

.p-dark .text-base {
  color: #F8F8F8;
}

.p-dark .border-base {
  border-color: var(--p-surface-700);
}

:root {
  --p-button-label-font-weight: 600;
  --p-dialog-title-font-size: 16px;
  --p-floatlabel-active-font-size: 12px;
}

html.p-light {
  --p-common-background: #F3F6F5;
  --p-inputtext-background: var(--p-common-background);
  --p-select-background: var(--p-common-background);
  --p-multiselect-background: var(--p-common-background);
  --p-common-border-color: transparent;
  --p-inputtext-border-color: var(--p-common-border-color);
  --p-select-border-color: var(--p-common-border-color);
  --p-multiselect-border-color: var(--p-common-border-color);
  --p-common-float-label-color: #5D897F; 
  --p-floatlabel-focus-color: var(--p-common-float-label-color);
  --p-form-field-float-label-color: var(--p-common-float-label-color);
  --p-form-field-float-label-active-color: var(--p-common-float-label-color);
  --p-inputtext-focus-background: #FFFFFF;
  --p-disabled-text-color: #A0BAB4;

  .p-inputtext:focus {
    background-color: var(--p-inputtext-focus-background) !important;
  }

  .p-inputtext:disabled {
    background-color: var(--p-inputtext-background) !important;
    color: var(--p-disabled-text-color) !important;
  }

  .p-select:not(.p-disabled).p-focus {
    background-color: var(--p-inputtext-focus-background) !important;
  }

  .p-select.p-disabled {
    background-color: var(--p-inputtext-background) !important;
    color: var(--p-disabled-text-color) !important;
  }

  .p-multiselect.p-disabled {
    background-color: var(--p-inputtext-background) !important;
    color: var(--p-disabled-text-color) !important;
  }

  .p-multiselect:not(.p-disabled).p-focus {
    background-color: var(--p-inputtext-focus-background) !important;
  }

  @layer utilities {
    .text-primary-custom {
      color: var(--p-common-float-label-color) !important;
    }
  }
}




