.data-table, .tree-table {
  border: 1px solid var(--p-treetable-body-cell-border-color);
  border-bottom: none;
  border-radius: 8px;
  overflow: hidden;
}

.p-datatable-header-cell, .p-treetable-header-cell {
  &:not(:last-child) {
    border-right: 1px solid var(--p-treetable-body-cell-border-color);
  }
  background-color: #E0ECE9 !important;
}

.p-dark .p-datatable-header-cell, .p-dark .p-treetable-header-cell {
  background-color: #292c2b !important;
}

.p-treetable-row-selected {
  background-color: var(--p-primary-50) !important;
  color: black !important;
}

.p-treetable-tbody tr {
  cursor: pointer !important;
}

.custom-table .p-paginator {
  justify-content: end;
}